body{
    width: 1471px;
    background-color: #6DA9E4;
    color: #FFEBEB;
    font-family: 'Pacifico', cursive;
}
/* Home page */
nav.main-navbar{
    width: 1380px;
    margin-left: 45px;
}
li.nav-item{
  padding: 60px 20px;
}
div.dropdown-menu{
  transform: translate(10px, -62px);
}
p.intro{
    font-size: 30pt;
}
div.intro-container{
    width: 900px;
    margin: 28px 200px 0px 76px;
}
h1.services{
    padding-top: 36px;
    padding-left: 45px;
}
div.services-container{
    width: 1391px;
    margin-left: 50px;
}
div .card{
  margin: 16px;
}
div.About-Daksada{
  width: 1187px;
  padding-left: 255px;
  padding-top: 33px;
}
h1.About-Daksada{
  text-align: center;
}
/* Container holding the image and the text */
.message-container{
    position: relative;
    text-align: center;
    color: #ffffff;
    font-size: 36pt;
    margin-top: 47px;
}
.contact-message{
    position: absolute;
    bottom: 100px;
    left: 131px;
    top: 90px;
}
.contact-btn{
    position: absolute;
    transform: translate(-465px, 105px); /* Helps to position the element horizontally and vertically. */
    width: 200px;
    /* Button color gradients created with https://css3buttongenerator.com/*/
    background: #ffd000;
    background-image: -webkit-linear-gradient(top, #ffd000, #ff0000);
    background-image: -moz-linear-gradient(top, #ffd000, #ff0000);
    background-image: -ms-linear-gradient(top, #ffd000, #ff0000);
    background-image: -o-linear-gradient(top, #ffd000, #ff0000);
    background-image: linear-gradient(to bottom, #ffd000, #ff0000);
    -webkit-border-radius: 26;
    -moz-border-radius: 26;
    border-radius: 26px;
    -webkit-box-shadow: 0px 1px 3px #db0bdb;
    -moz-box-shadow: 0px 1px 3px #db0bdb;
    box-shadow: 0px 1px 3px #db0bdb;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: dotted #11eb73 2px;
    text-decoration: none;
  }
  /* On mouse-over/hover */
  .btn:hover {
    background: #2df500;
    background-image: -webkit-linear-gradient(top, #2df500, #3498db);
    background-image: -moz-linear-gradient(top, #2df500, #3498db);
    background-image: -ms-linear-gradient(top, #2df500, #3498db);
    background-image: -o-linear-gradient(top, #2df500, #3498db);
    background-image: linear-gradient(to bottom, #2df500, #3498db);
    text-decoration: none;
  }
  /* About us Page */
  div.about-us{
    width: 1000px;
    margin-left: 250px;
  }
  h1.about-us{
    text-align: center;
  }
  div.three-services-container{
    height: 1775px;
  }
  h2.talent-management{
    text-align: center;
    padding-left: 420px;
    width: 1000px;
  }
  p.talent-management-parapgraph{
    font-size: 20pt;
    padding-left: 38px;
  }
 img.talent-management-team{
  width: 500px;
  margin: 51px 28px 0px 38px;
  float: left;
 }
 h2.People-Practice{
  text-align: center;
 }
 img.People-Practice-Team{
  width: 500px;
  margin: 51px 28px 0px 38px;
  float: right;
 }
 .People-Practice-Paragraph{
 padding-left: 47px;
 font-size: 20pt;
 }
 h2.learning{
  text-align: center;
  padding: 20px;
 }
 img.Learning-Development-Team{
  width: 500px;
  margin: 0px 28px 0px 38px;
  float: left;
 }
 p.learning-development{
 font-size: 20pt;
 padding-top: 20px;
 }
 h1.tesitmonials{
  text-align: center;
 }
 div.carousel-slide{
  background-color: orange;
  width: 900px;
  height: 775px;
  margin-left: 291px;
 }
 h5.reviewer-title{
  text-align: center;
  transform: translate(-20px, -283px)
 }
 h5.reviewer-name{
  text-align: center;
  padding-left: 200px;
  font-size: 72pt;
  transform: translate(-190px, -136px);
 }
 h5.Praveen{
  text-align: center;
  font-size: 48pt;
  padding-left: 200px;
  transform: translate(-100px, -315px);
 }
 h5.Nikunj{
  transform: translate(-145px, -243px);
  padding-top: 13px;
 }
 h5.MD{
  transform: translate(-52px, -220px);
  text-align: center;
 }
 h5.Janet{
  padding-top: 27px;
  transform: translate(-190px, -150px);
 }
h5.Ruby{
  transform: translate(-190px, -214px);
} 
 h5.HR{
  transform: translate(-197px, -315px);
  text-align: center;
 }
 h5.Titan{
  text-align: center;
  transform: translate(-197px, -300px);
 }
 h5.Gail{
  transform: translate(12px, -323px);
  font-size: 72pt;
 }
 p.testimonial{
  width: 843px;
  padding-left: 180px;
  font-size: 20pt;
  transform: translate(-45px, -506px);
 }
 /* Services Page */
 h1.service{
  text-align: center;
  padding: 30px;
 }
 div.service-container{
  width: 1189px;
  padding-left: 273px;
 }
 /* Meet the team */
 h1.name{
  text-align: center;
 }
 hr.profile-hr{
  width: 500px;
  margin-left: 485px;
  border-top: dashed #ffd000;
 }
 img.bio-photo{
  width: 370px;
  height: 415px;
  margin-left: 550px;
 }
 svg.linkedin{
  width: 50px;
  height: 50px;
  transform: translate(-343px, 238px);
  color: black;
 }
 svg.telephone{
  width: 50px;
  height: 50px;
  transform: translate(-258px, 240px);
  color: black;
 }
 svg.Mail{
  width: 50px;
  height: 50px;
  transform: translate(-177px, 240px);
 }
 p.bio-paragraph{
  width: 1019px;
  padding-top: 69px;
  padding-left: 477px
 }
 /* Contact page */
 div.container-fluid{
  background-image: url('https://website2021-live-e3e78fbbd3cc41f2847799-7c49c59.divio-media.com/filer_public_thumbnails/filer_public/eb/7f/eb7fa02f-e613-486b-98cf-9e034052610e/how_to_run_an_effective_business_meeting_-_a_step-by-step_guide-min.jpg__1200x630_q90_crop_subsampling-2_upscale.jpg');
  text-align: center; 
  height: 379px;
  opacity: 80%;
}
h1.Contact-us{
padding-top: 171px;
color: black;
background-color: white;
opacity: 50%;
width: 1457px;
height: 379px;
font-weight: bold;
}
/* Contact Form */
h1.address{
  padding-left: 213px;
}
input#First-name{
  margin: 108px 40px 40px 118px;
}
input#designation{
  margin-left: 115px;
  margin-right: 42px;
  margin-bottom: 40px;
}
input#Email{
  margin-left: 115px;
  margin-right: 41px;
  margin-bottom: 40px;
}
textarea#message{
margin-left: 115px;
width: 424px;
height: 39px;
}
button.send{
  transform: translate(-310px, 49px);
  border-radius: 30%;
  width: 175px;
  height: 55px;
}
button.send:hover{
  background-color: #97b4a9;
}
  /* Footer */
  div.footer-container{
    width: 1470px;
    background-color: grey;
    margin-top: 20px;
  }
  .footer-logo{
    width: 300px;
    height: 191px;
    margin: 60px 20px
  }
  p.footer-text{
    padding-top: 67px;
    font-size: larger;
  }
  h1.newsletter{
    padding: 81px 0px 0px 15px;
    text-align: center;
    font-size: 24pt;
  }
  input.email-input{
    width: 261px;
    margin-left: 55px;
    margin-top: 18px;
    text-align: center;
  }
  button.subscribe-btn{
    margin-top: 17px;
    margin-left: 138px
  }
  h1.contact-information{
    padding: 40px 0px 0px 10px;
    font-size: 24pt;
  }
  img.location{
    width: 80px;
    height: 68px;
    margin-top: 18px;
    margin-left: 9px;
    transform: translate(-10px);
  }
  address.Dasksada-address{
    transform: translate(7px, -111px);
    padding-top: 49px;
    padding-left: 58px;
  }
  p.timings{
    text-align: center;
    padding-top: 20px;
    padding-left: 56px;
    position:absolute;
    transform: translate(-10px, -90px);
  }
  p.footer-line{
    text-align: center;
    padding-bottom: 26px;
    margin-bottom: 0px;
  }
/* Media Queries */
/* Mobile Size */
@media (max-width: 1024px){
  button.navbar-toggler{
    transform: translate(-34px, 10px);
  }
    img.Daksada-logo{
        width: 203px;
        height: 111px;
    }
    nav.main-navbar{
        width: 370px;
        margin-left: 13px;
    }
    div.container{
        width: 500px;
        margin: 28px 0px 0px 0px;
    }
    p.intro{
        font-size: 14pt;
        width: 354px;
        padding: 0px;
    }
    div.About-Daksada{
      padding-top: 33px;
      padding-left: 23px;
      width: 400px;

    }
    /* About us page */
    div.about-us{
      width: 367px;
      margin-left: 27px;
    }
    div.dropdown-menu{
      transform: translate(-11px, -1px);
    }
    div.card{
      width: 372px;
      transform: translate(-8px, -1px);
    }
    h2.talent-management{
      padding-left: 39px;
      width: 337px;
    }
    img.talent-management-team{
      width: 357px;
      margin: 5px 29px 0px 29px;
      float: none;
    }
    p.talent-management-parapgraph{
      font-size: 17pt;
      margin-bottom: 0px;
      width: 360px;
      padding-left: 55px;
    }
    h2.People-Practice{
        width: 377px;
      }
      img.People-Practice-Team{
        width: 303px;
        margin: 5px 0px 0px 50px;
        float: none;
       }
      p.People-Practice-Paragraph{
      font-size: 17pt;
      margin-bottom: 0px;
      width: 372px;
      padding-left: 40px;
      }
      img.Learning-Development-Team{
        width: 351px;
        margin: 0px 28px 0px 29px;
        float: none;
      }
      h2.learning{
        width: 349px;
        padding: 16px;
        padding-bottom: 0px;
      }
      p.learning-development{
        padding: 20px 0px 0px 23px;
        width: 400px;
      }
      h1.tesitmonials{
        margin-top: 2617px;
        margin-bottom: 0px;
        width: 400px;
      }
    div.carousel-slide{
      width: 400px;
      height: 980px;
      margin-left: 6px;
      margin-top: 12px;
    }
    p.testimonial{
      transform: translate(-136px, -530px);
      font-size: 13pt;
      width: 500px;
      padding-left: 180px;
    }
    h5.HR{
      transform: translate(-16px, -315px);
    }
    h5.Titan{
      transform: translate(-16px, -315px);
    }
    h5.Praveen{
      width: 355px;
      padding-left: 153px;
    }
    h5.MD{
      transform: translate(-3px, -220px);
      text-align: center;
    }
    h5.reviewer-title{
      transform: translate(2px, -283px);
    }
    img.speech-bubble{
      width: auto;
      height: 600px;
    }
    /*Growth and Development*/
    div.service-container{
      width: 400px;
      padding-left: 23px;
    }
    h1.service{
      width: 400px;
    }
    /* Meet the Team */
    h1.name{
    width: 400px;
    padding-top: 32px;
   }
   img.bio-photo{
    width: 370px;
    height: 415px;
    margin-left: 20px;
   }
   p.bio-paragraph{
    width: 390px;
    padding-top: 77px;
    padding-left: 37px;
    font-size: 22pt;
   }
  /* Contact Page */
  div.container-fluid{
    background-image: url('https://website2021-live-e3e78fbbd3cc41f2847799-7c49c59.divio-media.com/filer_public_thumbnails/filer_public/eb/7f/eb7fa02f-e613-486b-98cf-9e034052610e/how_to_run_an_effective_business_meeting_-_a_step-by-step_guide-min.jpg__1200x630_q90_crop_subsampling-2_upscale.jpg');
    text-align: center; 
    width: 414px;
    margin: 0px;
    height: 379px;
    opacity: 80%;
  }
  h1.Contact-us{
    width: 414px;
  }
  div.contact-details{
    width: 414px;
  }
  input#First-name{
    margin: 108px 40px 40px 77px;
  }
  input#First-name{
    margin: 108px 40px 40px 77px;
  }
  input#Last-name{
    margin: 108px 40px 40px 77px;
  }
  input#designation{
    margin: 108px 40px 40px 77px;
  }
  input#company{
    margin: 108px 40px 40px 77px;
  }
  input#Email{
    margin: 108px 40px 40px 77px;
  }
  input#Mobile-number{
    margin: 108px 40px 40px 77px;
  }
  textarea#message{
      margin: 53px 40px 40px 37px;
      width: 347px;
  }
  button.send{
    transform: translate(109px, -10px);
  }
  h1.address{
    padding-top: 33px;
    width: 387px;
    padding-left: 154px;
  }
  iframe{
    width: 407px;
    margin-left: 4px;
  }
    /* Footer */
    div.footer-container{
      width: 414px;
      background-color: grey;
      margin-top: 20px;
    }
    img.custom-rectangle{
      width: 450px;
      height: 120px;
      margin-right: 1020px;
    }
    .contact-message{
      position: absolute;
      transform: translate(-40px, -80px);
      font-size: 12pt;
  }
  a.btn{
    top: -61px;
    right: 728px;
    bottom: 127px;
    left: 594px;
  }
    img.footer-logo{
      margin: 60px 0px 60px 38px;
    }
    p.footer-text{
      width: 346px;
      padding-top: 0px;
      padding-left: 48px;
    }
    h1.newsletter{
      padding: 40px 116px 0px 76px;
      text-align: center;
      font-size: 24pt;
    }
    h1.contact-information{
      padding: 24px 35px 24px 38px;
    }
    img.Daksada-logo{
        width: 203px;
        height: 111px;
    }
    nav.main-navbar{
        width: 407px;
        margin-left: 13px;
    }
    div.container{
        width: 398px;
        margin: 28px 0px 0px 0px;
    }
    
    p.intro{
        font-size: 14pt;
        transform: translate(-40px, -1px);
    }
    img.phone-icon{
      margin-left: 15px;
    }
    img.location{
      margin-left: 22px;
      margin-top: 26px;
      margin-right: 21px;
    }
    address.Dasksada-address{
      width: 300px;
      padding: 34px 0px  14px 82px;
      transform: translate(23px, -111px);
    }
    p.timings{
      padding-top: 0px;
    }
    input.search-bar{
      width: 218px;
    }
    button.search-btn{
      margin-left: 13px;
    }
}